
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Nunito:wght@600&family=Rubik:wght@300&display=swap');
.login-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 10rem;
    font-family: 'Nunito', sans-serif;

}
/* body{
    background:url(https://previews.123rf.com/images/nirut123rf/nirut123rf1702/nirut123rf170200711/71401738-double-exposure-of-businessman-handshake-on-industrial-business-background-connections-concept-eleme.jpg)
} */

.logo {
    height: 1em;
    padding-right: .5em;
}

.login {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: .5rem;
    border-radius: 15px;
    border-bottom: solid;

}

.spanmessage{
    color: white;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 12rem;
    
}

input{
    width: 12rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    text-align: center;
    border-bottom: solid;
    margin-top:.5em;
    
}

.login-btn{
    border-radius: 10px;
    padding: .5rem;
    border:none;
    border-bottom: solid;
    margin-top: .5em;
    background-color:#abdadc;
    margin-left: 20%;
    cursor: pointer;

}

.Login-msg{
    display: flex;
    justify-content: left;
    align-content: left;
}