.signup{
    background-color: #2F526E;
    border-radius: 1rem;
    padding: 3rem;
    color: white;
    display: flex;
    align-items: center;
    
}

.signup button{
    border-radius: 1rem;
    width: 50%;
    height: 2rem;
    cursor: pointer;
    border:none;
    border-bottom: solid;
    margin-top: 1rem;
 
}

.signup span{
    margin-top: .5rem;
}

.header{
    text-align: center;
}

.signup a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
    
  }